

@media screen and (max-width: 890px) {
    .navbar {
        width: 70%;
    }
   
    .download {
        width: 70%;
    }

    .hero {
        height: 28%;
        top: 13%;
        right: 10%;
    }

    .about {
        display: inline;
        text-align: center;
    }

    .about-hero {
        display: none;
    }

    .text {
        margin-top: 13%;
        padding-inline: 20px;
        font-size: 1.5rem;
    }

    .mara {
        font-size: 1.3rem;
    }

    .text h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 800px) {
    .text {
        margin-top: 10%;
    }

    .hero {
        height: 22%;
        top: 12%;
        right: 8%;
    }
}

@media screen and (max-width: 780px) {
    .name {
        font-size: 2.3rem;
    }

    .hero {
        height: 25%;
        top: 16%;
        right: 8%;
    }

}

@media screen and (max-width: 500px) {
    .about-hero {
        display: block;
        margin-top: 25%;
        width: 100%;
    }
}

@media screen and (max-width: 370px) {
    .explore {
        display: flex;
        flex-direction: column;
        float: initial;
    }

    .explore button {
        margin-top: 9%;
    }
}

@media screen and (max-width: 320px) {
    .portfolio {
        margin-top: 100vh;
    }

    .image {
        height: 100vh;
    }
}